* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* 
* Navbar
*/

.navbar {
    position: absolute !important;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: .7rem;
    background: rgba(0, 0, 0, 0.6) !important;
    z-index: 1000;
}

.nav-link {
    color: rgb(175, 175, 175) !important;
}


.navbar-brand a {
    color: #fff !important;
}

.search-bar{
    background-color: #011627;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar:hover{
    border: 2px solid#0d6efd;
}
.search-bar__input{
    padding: 5px 10px;
    width: 80%;
    flex-grow: 3;
}

.search-bar__icon{
    text-align: right;
    padding: 5px 10px;
    flex-grow: 1;
    font-size: 1.6rem;
    color: #fff;
    width: 20%;
}

.search-bar input {
    background-color: transparent;
    padding: 4px 10px ;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: #fff;
}

.search-bar input:focus{
    background-color: #fff;
    color: #011627;
}

.search-bar input::placeholder {
    color: #fff;
}

/* .card{
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.10);
} */

.card .card-line{
    height: 2px ;
    width: 100%;
    margin-top: 10px;
    background: #83f3ed;

}


/*
* Homepage
*/
.home-page__description {
    background: #011627;
}

.subheading-line {
    height: 4px;
    width: 20%;
    background: #83f3ed;

}

.accordion-item {
    border-bottom: solid 1px #83f3ed !important;
}

/*
* AboutUs-Page
*/

.about-page__header {
    background: #011627;
    min-height: 340px;
}

.about-page__main-images img {
    border-radius: 50%;
    width: 50%;
}

.about-page__line {
    border-bottom: 1px solid#83f3ed;
}

.faquote {
    color: #83f3ed;
}

/* 
*Data Children Page
*
*/
.children-data button{
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #011627;
}
.jumbotron {
    background-color: #011627 !important;
}

.children-list {
    display: grid !important;
    grid-template-columns: 1fr !important;
    gap: 10px !important;

}

.card-body .card-text p {
    margin: 0 !important;
}

.fa-custom-style {
    font-size: 4rem;
    color: #83f3ed;
}

.fa-custom-style-2{
    color: #011627;
    font-size: 12rem;
}


/* 
*Parent Data Page
*
*/

.parents-data button{
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #011627;
}

.parent-list {
    display: grid !important;
    grid-template-columns: 1fr !important;
    gap: 10px !important;
}

/* 
*Posyandu Data page
*
*/

.posyandu-list {
    display: grid !important;
    grid-template-columns: 1fr !important;
    gap: 10px !important;
}

.posyandu-data button{
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #011627;
}
/* 
*Bidan Data page
*
*/

.bidans-list {
    display: grid !important;
    grid-template-columns: 1fr !important;
    gap: 10px !important;
}

.bidans-data button{
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #011627;
}

/* 
*
*Add Parent Page
*/
.add-new-parent__input .empty-div{
    height:40px;
}

/* 
*Add posyandu Page
*
*/
.add-new-posyandu__input .empty-div{
    margin-top: 40px;
}

/* 
*Add Bidan Page
*
*/
.add-new-bidan__input .empty-div{
    height: 240px;
}

/* 
* Footer
*/

#footer {
    background: #011627;
}

@media screen and (min-width: 650px) {
    .children-list {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .parent-list {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .posyandu-list {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .bidans-list {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

;

@media screen and (min-width:850px) {
    .description .container {
        width: 100% !important;
    }
}

@media screen and (min-width:1000px) {
    .children-list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .parent-list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media screen and (max-width:1000px) {
    .overview-picture img {
        height: 420px;
    }
}

@media screen and (min-width:1200px) {
    .about-page__main-images img {
        width: 60%;
    }

    .children-list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .parent-list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;

    }

    .posyandu-list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .bidans-list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }

}